* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

header {
  height: 150px;
  text-align: center;
  background-color: #a8a7a7;
}
main {
   
}

h2 {
  color: #d50909;
  text-align: center;
  
}
fieldset {
  width: 50%;
  margin-top: 15px;
}

.inscription{
    margin-left: 650px;
}
footer{
    background-color: #a8a7a7;
    text-align: center;
    height: 30px;
}


